[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "mreg"]
	path = mreg
	url = https://github.com/shug0131/mreg
	shallow = true
	registered = true
